<!doctype html>
<html lang="en" ng-app="infoScreenApp">
<head>
    <meta charset="utf-8">
    <title>Info Screen</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <script src="js/lib/angular.js"></script>
    <script src="js/lib/moment.min.js"></script>
    <script src="js/controller.js"></script>
</head>
<body ng-controller="InfoScreenController">
<div class="tabContent" ng-repeat="oebbUrl in config.oebb" ng-if="isOebb($index)">
    <div class="frameWrapper">
        <iframe ng-src="{{oebbUrl}}" frameborder="0" scrolling="no" width="564" height="298" class="content contentIframe"></iframe>
    </div>
</div>
<div ng-if="isWl()" class="tabContent">
    <table class="content">
        <tr ng-repeat="line in wlLines" ng-class-odd="'odd'" ng-class-even="'even'" ng-class="{ 'alert' : line.trafficJam}">
            <td class="number">{{line.name}}</td>
            <td>{{line.destination}}</td>
            <td ng-repeat="departure in line.departures" class="number">{{departure}}</td>
            <td colspan="{{config.wl.maxDepartures - line.departures.length}}" class="filler"></td>
        </tr>

    </table>
</div>
<div ng-if="isCbw()" class="tabContent">
    <table class="content">
        <tr ng-repeat="station in cbwStations" ng-class-odd="'odd'" ng-class-even="'even'" ng-class="{ 'alert' : !station.active}">
            <td >{{station.name}}</td>
            <td class="number" ng-class="{ 'alert' : station.freeBikes < 3}">{{station.freeBikes}}</td>
            <td class="number" ng-class="{ 'alert' : station.freeBoxes < 3}">{{station.freeBoxes}}</td>
        </tr>
    </table>
</div>
<div ng-if="isWeather()" class="tabContent">
    <div class="frameWrapper">
        <iframe ng-src="{{config.weather}}" frameborder="0" scrolling="no" width="564" height="298" class="content contentIframe"></iframe>
    </div>
</div>

<div ng-if="isWebcam()" class="tabContent">
    <div class="content">
        <div class="webcamControl" ng-click="webcamAlarmToggle()">Alarm
            <i class="fa fa-toggle-on" ng-if="webcamAlarm == 'enabled'" aria-hidden="true"></i>
            <i class="fa fa-toggle-off" ng-if="webcamAlarm == 'disabled'" aria-hidden="true"></i>
            <i class="fa fa-exclamation-triangle" ng-if="webcamAlarm == 'error'" aria-hidden="true"></i>
        </div>
        <img ng-src="{{webcamPreviewSrc}}" class="webcamPreview"/>
    </div>
</div>

<ul class="tabSwitcher">
    <li ng-click="showOebb($index)" class="tabLink" ng-class="{'active': isOebb($index)}"
        ng-if="config" ng-repeat="oebbTab in config.oebb track by $index">
        <i class="fa fa-train" aria-hidden="true"></i> {{$index+1}}
    </li>
    <li ng-click="showWl()" class="tabLink" ng-class="{'active': isWl()}"><i class="fa fa-subway" aria-hidden="true"></i>/<i class="fa fa-bus" aria-hidden="true"></i></li>
    <li ng-click="showCbw()" class="tabLink" ng-class="{'active': isCbw()}"><i class="fa fa-bicycle" aria-hidden="true"></i></li>
    <li ng-click="showWeather()" class="tabLink" ng-class="{'active': isWeather()}"><i class="fa fa-sun-o" aria-hidden="true"></i>/<i class="fa fa-cloud" aria-hidden="true"></i></li>
    <li ng-click="showWebcam()" class="tabLink" ng-class="{'active': isWebcam()}"><i class="fa fa-video-camera" aria-hidden="true"></i></li>
    <li ng-click="off()" class="tabLink off"><i class="fa fa-power-off" aria-hidden="true"></i></li>
    <li class="tabLink time">{{time}}</li>
</ul>

</body>
</html>
